html {
  font-family: "helvetica neue";
  margin-left: 10%;
}

body a {
  color: #94c1c3;
}

.header {
  margin-bottom: 2em;
}

.form {
  padding: 1em;
}

input[type="text"] {
  width: 10em;
}

.blog-title {
  font-family: "Open Sans";
  font-size: 2.5em;
  color: #31d988;
}

.title {
  font-family: "Open Sans";
  margin-bottom: .2em;
}

hr {
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0; 
  width: 60%;
}

.content {
  float: left;
}

.sidebar {
  float: right;
}

button {
  background-color: #dfecd2;
  font-size: 1em;
  border: 0;
}