html {
  font-family: "helvetica neue";
  margin-left: 2em;
}

body a {
  color: #94c1c3;
}

.form {
  padding: 1em;
}

.title {
  margin-bottom: .2em;
}

input[type="text"] {
  width: 10em;
}

.blog-title {
  font-family: "Open Sans";
  color: #31d988;
}