html {
  font-family: "helvetica neue";
  margin-left: 2em;
}

body a {
  color: #94c1c3;
}

.form {
  padding: 1em;
}

.title {
  font-family: "Open Sans";
  margin-bottom: .2em;
}

input[type="text"] {
  width: 10em;
}

.blog-title {
  font-family: "Open Sans";
  color: #31d988;
}

hr {
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0; 
  width: 60%;
}