<div ng-controller="homeController">
  <div class="main-content">
    
    <hr>

    <span ng-repeat="post in posts | filter:search:strict">
      
      <a ui-sref="show({id: post.id})">
        <h2 class="title">{{post.title}}</h2><br>
      </a>
      
      <span>{{post.date | date:'EEEE'}}</span><br>
      <p>{{post.content}}</p>
      
      <small ng-repeat="tag_id in post.tag_ids">
        {{getTagName(tag_id)}}
      </small><br>
      
      <button ng-click="delete(post)">
        Delete Post
      </button>
      
      <hr>
    </span>
  </div>
  
  <div class="sidebar">
    Search:<br>
    <input class="small-text" type="text" ng-model="search"/><br>
    
    Search by title:<br>
    <input class="small-text" type="text" ng-model="search.title"><br>
    
    tags:
    <div ng-repeat="tag in tags">
      {{tag.name}}
    </div>
    
  </div>