<div ng-controller="homeController">
  
  Search: <input type="text" ng-model="search"/>
  Search by title: <input type="text" ng-model="search.title">
  <br>
  Tags: <span ng-repeat="tag in tags">
    <input type="checkbox" value="tag.id" ng-click="addTag(tag.id)">{{tag.name}}</input>
  </span><br>
  tag array is {{tagArray}}<br>
  
  search is: {{search}}
  <br><br><hr>
  
  WRITE A NEW POST: 
  <div class="form">
    Title: <input type="text" ng-model="newPost.title"/><br>
    Content: <input type="text" ng-model="newPost.content"/><br>
    Tags: <span ng-repeat="tag in tags">
      <input type="checkbox" value="tag.id" ng-click="toggleId(tag.id)">{{tag.name}}</input><br>
    </span>
    <button ng-click="submitNewPost()">
      Create a new post
    </button>
  </div>
  
  HERE'S YOUR POST:
  {{newPost.title}}
  {{newPost.content}}
  
  <!-- doesn't work. figure this out! -->
  {{newPost.tag.id}}
  
  <span ng-repeat="post in posts | filter:search:strict">
    
    <a ui-sref="show({id: post.id})">
      <h2>{{post.title}}</h2><br>
    </a>
    
    <span>{{post.date | date:'EEEE'}}</span><br>
    <p>{{post.content}}</p>
    
    <small ng-repeat="tag_id in post.tag_ids">
      {{getTagName(tag_id)}}
    </small><br>
    
    <hr>
  </span>
  
  ALL TAGS:
  <div ng-repeat="tag in tags">
    {{tag.name}}
  </small>
</div>