<div ng-controller="homeController">
  <div class="main-content">
    
    Search:<br>
    <input type="text" ng-model="search"/><br>
    
    Search by title:<br>
    <input type="text" ng-model="search.title"><br>
    
    Tags:<br>
    <span ng-repeat="tag in tags">
      <input type="checkbox" value="tag.id" ng-click="addTag(tag.id)">{{tag.name}}</input>
    </span><br>
    
    <hr>
    
    new post:
    <div class="form">
      Title:<br>
      <input type="text" ng-model="newPost.title"/><br>
      
      Content:<br>
      <input type="text" ng-model="newPost.content"/><br>
      
      Tags:<br>
      
      <div ng-repeat="tag in tags"><br>
        <input type="checkbox" ng-model="checked" ng-init="checked=false" value="tag.id" ng-click="toggleId(tag.id)">{{tag.name}}</input><br>
        
        <span ng-if="checked" class="animate-if">
          {{tag.name}}
        </span>
        
      </div>
      
      <button ng-click="submitNewPost()">
        Create a new post
      </button>
      
      
      
    </div>
    
    
    
    
    Post Preview:
    
    <h2 class="title">{{newPost.title}}</h2>
    {{newPost.content}} 
    <div ng-repeat="tag in tags">
    </div>
    
    
    
    <span ng-repeat="post in posts | filter:search:strict">
      
      <a ui-sref="show({id: post.id})">
        <h2 class="title">{{post.title}}</h2><br>
      </a>
      
      <span>{{post.date | date:'EEEE'}}</span><br>
      <p>{{post.content}}</p>
      
      <small ng-repeat="tag_id in post.tag_ids">
        {{getTagName(tag_id)}}
      </small><br>
      
      <hr>
    </span>
  </div>
  
  <div class="sidebar">
    
    tags:
    <div ng-repeat="tag in tags">
      {{tag.name}}
    </div>
    
  </div>